{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["plugin:@typescript-eslint/recommended"],
  "rules": {
    "prettier/prettier": "warn",
    "@typescript-eslint/typedef": "error",
    "prefer-const": "off"
  }
}